<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <style>
    .gradient-custom {
      background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    .card-custom {
      border-top-left-radius: 10% 50%;
      border-bottom-left-radius: 10% 50%;
      background-color: #f8f9fa ;
    }


    .input-custom {
      background-color: white ;
    }

    .white-text {
      color: hsl(52, 0%, 98%);
      font-weight: 100 ;
      font-size: 14px;
    }

    .back-button {
      background-color: hsl(52, 0%, 98%);
      font-weight: 700;
      color: black ;
      margin-top: 50px ;
    }
  </style>
</head>
<body>
<div class="row mt-3 mx-3" style="margin-top:25px ;">
  <div class="col-md-3">
    <div style="margin-top: 50px; margin-left: 10px;" class="text-center">
      <i id="animationDemo" data-mdb-animation="slide-right" data-mdb-toggle="animation"
         data-mdb-animation-reset="true" data-mdb-animation-start="onScroll"
         data-mdb-animation-on-scroll="repeat" class="fas fa-3x fa-shipping-fast text-white"></i>
      <h3 class="mt-3 text-white">Welcome</h3>
      <p class="white-text">You are 30 seconds away from completing your order!</p>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-white btn-rounded back-button" onclick="location.href='/checkout'">Go back</button>
    </div>


  </div>
  <div class="col-md-9 justify-content-center">
    <div class="card card-custom pb-4">
      <div class="card-body mt-0 mx-5">
        <div class="text-center mb-3 pb-2 mt-3">
          <h4 style="color: #495057 ;">Delivery Details</h4>
        </div>

        <form class="mb-0" method="post">

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input name="name" type="text" id="form6Example1" class="form-control input-custom" />
                <label class="form-label" for="form6Example1">Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input name="country" type="text" id="form6Example2" class="form-control input-custom" />
                <label class="form-label" for="form6Example2">Country</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input name="city" type="text" id="form6Example3" class="form-control input-custom" />
                <label class="form-label" for="form6Example3">City</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input name="zipcode" type="text" id="form6Example4" class="form-control input-custom" />
                <label class="form-label" for="form6Example4">Zip</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input name="billing_address" type="text" id="form6Example6" class="form-control input-custom" />
                <label class="form-label" for="form6Example6">Billing Address</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input name="email" type="email" id="typeEmail" class="form-control input-custom" />
                <label class="form-label" for="typeEmail">Email</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input name="shipping_address" type="text" id="form6Example7" class="form-control input-custom" />
                <label class="form-label" for="form6Example6">Shipping Address</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input name="phone_number" type="text" id="typePhone" class="form-control input-custom" />
                <label class="form-label" for="typeEmail">Phone number</label>
              </div>
            </div>
          </div>

          <div class="float-end ">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-rounded"
                    style="background-color: #0062CC ;">Save details</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>